<h1>Lista de Productos</h1>

{{#if products.length}}
  <div class="row">
  {{#each products}}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-title">
          <p class="card-title">{{this.nombre}}</p>
        </div>
        <div class="card-content">
          <p>Precio: ${{this.precio}}</p>
          <p>Categoría: {{this.categoría}}</p>
          <p>Stock: {{this.stock}}</p>
        </div>
        <div class="card-action">
          <a href="#">Agregar al carrito</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{else}}
  <p>No hay productos disponibles.</p>
{{/if}}
